---
import Register from "../components/Register";
import Layout from "../layouts/Layout.astro";

const title = "AUS Force";
---

<Layout title={title}>
  <main class="container">
    <h1>Welcome to {title}</h1>

    <div class="register">
      <Register client:visible />
    </div>
  </main>
</Layout>

<style>
  main {
    text-align: center;
    height: 100%;
  }
  h1 {
    margin-bottom: 0;
  }

  .register {
    display: grid;
    place-content: center;
  }
</style>
