---
import Register from "../components/Register.astro";
import Layout from "../layouts/Layout.astro";

const title = "AUS Force";
---

<Layout title={title}>
  <main class="container">
    <h1>
      Welcome to the <br /><span class="text-gradient">{title}</span>
    </h1>

    <div class="register">
      <Register />
    </div>
  </main>
</Layout>

<style>
  main {
    text-align: center;
    height: 100%;
  }
  h1 {
    margin-bottom: calc(var(--typography-spacing-vertical) / 2);
  }

  .register {
    display: grid;
    place-content: center;
  }
</style>
