---
import Hero from "@/components/home/Hero.astro";
import { Pricing } from "@/components/home/Pricing";
import { Register } from "@/components/Register";
import Layout from "@/layouts/Layout.astro";

const title = "AUS Force";
---

<Layout title={title}>
  <main class="h-full text-center">
    <Hero />
    <Register client:visible />
    <Pricing />
  </main>
</Layout>
